extends ../node_modules/pug-bootstrap/_bootstrap
block body
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Coda')
  link(href='/../stylesheets/style.css', rel='stylesheet')
  if result
    h1 {originalUrl: #{result.original}, tinyUrl: #{result.original}}
  else
    if errMessage
      h1.error-message #{errMessage}
    else
      h1 Make me Shorter!
    form(name="/add", method="post")
      div.form-group
        div.input
          span.label Please Enter a Url
          input(type="text", class="url-input",name="url")
          div.actions
          input(type="submit", class="btn-primary",value="add")    
