@main-color: #3d997f;
@main-font-color: #ffffff;
@main-font: 'Coda', cursive;
@err-color: #8b0000;

body {
	background-color: @main-color;
	color: @main-font-color;
	font-family: @main-font;
	padding-top: 100px;
	text-align: center;

  .error-message {
    color: @err-color;
  }

  .url-input {
    color: #000000;
  }

}
