@main-color: #00004c;
@main-font-color: #ffffff;
@main-font-size: 30px;
@secondary-font-size: 25px;
@main-font: 'Coda', cursive;
@err-color: #8b0000;

body {
	background-color: @main-color;
	color: @main-font-color;
	font-family: @main-font;
  font-size: @main-font-size;
	padding-top: 100px;
	text-align: center;

  .error-message {
    color: @err-color;
  }

  h1 {
    font-size: @secondary-font-size;
  }

  .url-input {
    color: #000000;
  }

}
